@layer components {
  .app-c-btn {
    @apply cursor-pointer rounded px-4 py-2 font-bold transition-colors duration-200 ease-in
           disabled:cursor-not-allowed
           focus-visible:outline-2 focus-visible:outline-offset-2
           focus-visible:outline-gray-900 dark:focus-visible:outline-white;
  }

  .app-c-btn-primary {
    @apply bg-primary text-white not-disabled:hover:bg-primary-hover disabled:bg-primary-disabled;
  }

  .app-c-btn-secondary {
    @apply bg-secondary text-white not-disabled:hover:bg-secondary-hover disabled:bg-secondary-disabled;
  }
}
